
@import url(http://fonts.googleapis.com/css?family=Questrial);

html {
    height: 100%;
}

body {
    background-color: #FFF;
    margin: 0;
    padding: 0;
    height: 100%;
}

#logo-container {
    width: 100%;
    top: 10px;
    left: 30px;
    padding: 0;
    text-align: right;
    max-width: 550px;
}

#logo {
    width: 100%;
}
    
#title-wrapper {
    width: 90%;
    text-align: right;
    font-family: Questrial;
    z-index: 1;
}

#container {
    width: 100%;
    left: 0;
    padding: 0;
    background-color: #eee;
    display: block;
    font-family: Questrial;
    position: relative;
}

#header-wrapper {
    width: 100%;
    padding: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 103, 103, 1);
    min-height: calc(100% - 3em);
}

#header-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    min-height: inherit;
}

#header-content {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	position: relative;
}

@media(max-width: 1100px) {
    #logo-container {
        position: static;
        opacity: 0.7;
        top: 1em;
        transform: none;
        -webkit-transform: none;
        -ms-transform: none;
        margin-left: auto;
        margin-right: auto;
    }
    #title-wrapper {
        position: relative;
        margin-top: -2em;
        padding-bottom: 0.5em;
        transform: none;
        -webkit-transform: none;
        -ms-transform: none;
    }
    
    
    #header-wrapper {
        position: relative;
    }

}

@media(min-width: 1100px) {
    #logo-container {
        position: absolute;
        z-index: 1;
        opacity: 0.7;
        top: calc(50% - 275px);
    }
        
    #title-wrapper {
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }
    
    #header-wrapper {
        position: static;
        height: calc(100% - 3em);
        min-height: 540px;
    }

}

@media(max-width: 800px) {
    #title-wrapper {
        font-size: 0.8em;
    }

}

@media(max-width: 600px) {
    #title-wrapper {
        font-size: 0.6em;
    }

}

#title {
    padding: 5px 10px 5px;
    text-align: right;
    font-size: 5em;
    font-family: Questrial;
    z-index: 1;
}

#dates {
    padding: 5px 10px;
    text-align: right;
    font-size: 1.86em;
    font-family: Questrial;
    z-index: 1;
}

#pretitle {
    padding: 0px 10px;
    text-align: right;
    font-size: 2.8em;
    font-family: Questrial;
    z-index: 1;
    color: rgba(250,183,0,1);
}

#subtitle {
    padding: 10px;
    text-align: right;
    font-size: 1.86em;
    font-family: Questrial;
    z-index: 1;
    color: rgba(250,183,0,1);
}

#mainContent {
    width: 100%;
    margin: 0;
    padding: 0px;
    color: #333;
    /*     overflow: hidden; */
}

#home {
    width: 50%;
    margin: 50px auto;
    text-align: right;
    padding: 0;
    opacity: 1;
}

#my_fixable_header {
    /*  visibility: hidden; */
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(174, 24, 24, 1);
    margin: 0;
    padding: 0;
    display: block;
    clear: none;
    width: 100%;
    border: 0;
    opacity: 1;
    text-align: center;
    height: 3em;
    z-index: 2;
    font-family: Questrial;
}


.fixed {
    top: 0;
    position: fixed;
}

.nav-wrapper {
    width: 100%;
}


.menu {
    text-align: center;
    background: url('../img/logo_50px.png') center left no-repeat,
    url('../img/sponsors/EMBLw.png') center right no-repeat;
    background-size: contain, contain;
}

.menu::after {
    background: rgba(227, 61, 61, 0.9);
    content: "";
    /*   position: absolute; */
    top: 3em;
    left: 0;
    width: 100%;
    height: 3px;
    box-shadow: 0 5px 10px 0 #bbb;
}


.menu ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    height: 3em;
    /*width:60em;*/
}

.menu ul li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    /*float:left;*/
    height:3em;
    /*border-left:1px solid rgba(227,62,62,0.9); */
}

.menu ul li:last-child {
    /*border-right:1px solid rgba(227,62,62,0.9);*/
}

.menu ul li a {
    background-color: rgba(174, 24, 24, 0.9);
    text-decoration: none;
    font-size: 1em;
    margin: 0px;
    line-height: 3em;
    display: inline-block;
    color: white;
    padding: 0px 20px;
    transition: background 0.5s;
    -webkit-transition: background 0.5s, border 0.5s;
}

.menu ul li a:hover {
    background-color: rgba(227, 61, 61, 0.5);
}
.menu ul li a:active, .menu ul li a.active {
    background-color: rgba(227, 61, 61, 1);
}
.menu ul li a.disabled {
    color: #454545;
    cursor: default;
}
.menu ul li a.disabled:hover {
    background-color: transparent;
}


div.content {
    background: #fafafa;
    padding: 8em 0px;
    margin: 0px auto;
    width: 100%;
    text-align: left;
    line-height: 1.5em;
}
div.content:nth-child(2n+1) {
    background: #eee;
    color: #111;
}

div.content>div {
    margin: 0px auto;
    width: 70%;
    max-width: 760px;
}
#footer {
    clear: both;
    margin: 0;
    padding: 30px;
    border-top: 1px solid rgba(143,20,20,1);
    position: relative;
    background-color: rgba(174, 24, 24, 1);
    color: #fafafa;
    text-align: center;
}

#footer::before {
    background: rgba(174,25,25,1);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
}
